@page 
@model RVPark.Pages.Admin.Photos.DetailsModel

@{
    ViewData["Title"] = "Photo Details";
}

<h1>Photo Details</h1>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <img src="@Model.Photo.Name" class="card-img-top" alt="Photo">
            <div class="card-body">
                <div class="btn-group">
                    <a onClick="Delete('/api/photo/@Model.Photo.Id', @Model.Site.SiteId)" class="btn btn-danger text-white" style="cursor:pointer; width:100px;">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                    <a asp-page="./Index" asp-route-siteId="@Model.Site.SiteId" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Photo Information</h5>
            </div>
            <div class="card-body">
                <p><strong>Site:</strong> @(Model.Site.Name)</p>
                <p>@Model.Site.Description</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function Delete(url,id) {
            Swal.fire({
                title: "Are you sure you want to delete?",
                text: "You will not be able to restore this data!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'DELETE',
                        url: url,
                        success: function (data) {
                            console.log(data); // Debug log
                            if (data.success) {
                                toastr.success(data.message);
                                setTimeout(() => {
                                   window.location.href = '/Admin/Photos?siteid=' + id; 
                                }, 1000);
                                //$('#DT_Load').DataTable().ajax.reload(null, false); false = don't reset pagination
                            } else {
                                toastr.error(data.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                            toastr.error("An error occurred while deleting.");
                        }
                    });
                }
            });
        }
    </script>
}
